name: Publish features

on:
  push:
    branches: "main"
  workflow_dispatch:

concurrency: ${{ github.workflow }}

jobs:
  publish-features:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dev Containers CLI
        run: npm install -g @devcontainers/cli
      
      - name: Publish features
        run: devcontainer features publish -r ghcr.io -n ${{ github.repository }} src
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
